<meta charset="UTF-8">
<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow, noodp">
<meta name="googlebot" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">


<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

<title>{{ title }}</title>
<link rel="stylesheet" href="css/splide.min.css">
<link rel="stylesheet" href="css/tom-select.css">
<link rel="stylesheet" href="css/nouislider.css">
<link rel="stylesheet" href="css/simplebar.css">
<link rel="stylesheet" href="css/new-style.css">
<link rel="stylesheet" href="css/text-page.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/style.min.css">
