<div id="overlay"></div>
<main id="main">
	<div class="main-container" style="padding-top: 27px;">
		<div class="breadcrumbs">
			<ul class="breadcrumbs-list">
				<li class="breadcrumbs-list__item"><a class="breadcrumbs-list__link" href="">Главная</a></li>
				<li class="breadcrumbs-list__item">Диваны</li>
			</ul><a class="breadcrumbs__btn-mobile" href="#">
				<svg class="icon icon--angle-left">
					<use href="img/sprite.svg#angle-left"></use>
				</svg>Диваны</a>
		</div>
		<h3 class="title-sm idea-title-sm">Идеи для интерьеров</h3>
		<div class="idea">


			<div class="idea-row">
				<div class="idea-coll">
					<div class="previwe__item previwe__item-coll">
						<div class="previwe__img previwe__img-idea"><img
								src="img/new-pages-img/product-previwe/product-previwe-1-idea.jpg" alt=""></div>
						<div class="point-block point-block--right point-idea--1">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-idea--2">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Диван Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-block--center point-idea--3">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-block--center point-idea--4">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="idea-coll-2">
					<div class="idea-title ">
						В данном интерьере использованы сдедующие модели
					</div>
					<div class="idea-head">
						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-4.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-3.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-2.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-4.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>
					</div>
					<div class="idea-body">
						<div class="idea-body-title">
							Итого за комплект:
						</div>

						<div class="price idea-body-price">
							<div class="price__number idea-body-number"><span class="price__label"></span>1300 <span
									class="price__number-currency idea-body-currency ">BYN</span></div>
							<div class="price__old idea-body-old">1400 <span class="price__old-currency">BYN</span>
							</div>
						</div>

						<a class="btn btn-primary idea-body-btn" href="#">Купить комплект 3 из 3 </a>
					</div>
				</div>
			</div>

			<div class="idea-row">
				<div class="idea-coll">
					<div class="previwe__item previwe__item-coll">
						<div class="previwe__img previwe__img-idea"><img
								src="img/new-pages-img/product-previwe/product-previwe-2-idea.jpg" alt=""></div>
						<div class="point-block point-block--right point-idea--5">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-idea--6">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Диван Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-block--center point-idea--7">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-block--center point-idea--8">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="idea-coll-2">
					<div class="idea-title ">
						В данном интерьере использованы сдедующие модели
					</div>
					<div class="idea-head">
						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-5.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-9.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-3.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-4.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>
					</div>
					<div class="idea-body">
						<div class="idea-body-title">
							Итого за комплект:
						</div>

						<div class="price idea-body-price">
							<div class="price__number idea-body-number"><span class="price__label"></span>1300 <span
									class="price__number-currency idea-body-currency ">BYN</span></div>
							<div class="price__old idea-body-old">1400 <span class="price__old-currency">BYN</span>
							</div>
						</div>

						<a class="btn btn-primary idea-body-btn" href="#">Купить комплект 3 из 3 </a>
					</div>
				</div>
			</div>

			<div class="idea-row">
				<div class="idea-coll">
					<div class="previwe__item previwe__item-coll">
						<div class="previwe__img previwe__img-idea"><img
								src="img/new-pages-img/product-previwe/product-previwe-3-idea.jpg" alt=""></div>
						<div class="point-block point-block--right point-idea--9">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-idea--10">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Диван Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-block--center point-idea--11">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-block--center point-idea--12">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="idea-coll-2">
					<div class="idea-title ">
						В данном интерьере использованы сдедующие модели
					</div>
					<div class="idea-head">
						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-2.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-7.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-6.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-4.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>
					</div>
					<div class="idea-body">
						<div class="idea-body-title">
							Итого за комплект:
						</div>

						<div class="price idea-body-price">
							<div class="price__number idea-body-number"><span class="price__label"></span>1300 <span
									class="price__number-currency idea-body-currency ">BYN</span></div>
							<div class="price__old idea-body-old">1400 <span class="price__old-currency">BYN</span>
							</div>
						</div>

						<a class="btn btn-primary idea-body-btn" href="#">Купить комплект 3 из 3 </a>
					</div>
				</div>
			</div>

			<div class="idea-row">
				<div class="idea-coll">
					<div class="previwe__item previwe__item-coll">
						<div class="previwe__img previwe__img-idea"><img
								src="img/new-pages-img/product-previwe/product-previwe-1-idea.jpg" alt=""></div>
						<div class="point-block point-block--right point-idea--1">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-idea--2">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Диван Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-block--center point-idea--3">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
						<div class="point-block point-block--center point-idea--4">
							<div class="point"></div>
							<div class="point-dropdown">
								<div class="point-dropdown__inner"><a class="card__name" href="#">Лампа Lily</a>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
									<div class="price price-sm">
										<div class="price__number"><span class="price__label"></span>1300 <span
												class="price__number-currency">BYN</span></div>
										<div class="price__old">1400 <span class="price__old-currency">BYN</span></div>
									</div><a class="btn btn-primary point-btn" href="#">Перейти к товару </a>
									<div class="point-callback">
										<input class="callback-input" type="text" placeholder="+375 (__) ___-__-__"><a
											class="btn btn-callback" href="#">
											<svg class="icon icon--phone">
												<use href="img/sprite.svg#phone"> </use>
											</svg>Перезвоните мне</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="idea-coll-2">
					<div class="idea-title ">
						В данном интерьере использованы сдедующие модели
					</div>
					<div class="idea-head">
						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-4.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-7.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-6.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>

						<div class="idea-head-row">
							<label class="idea-label">
								<input type="checkbox" class="idea-input" checked>
								<span class="idea-label-span">
									<svg class="idea-svg" width="11" height="9" viewBox="0 0 11 9" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.95218 2.39352L6.58979 7.03113L4.63711 8.98381L-0.000498801 4.3462L1.95218 2.39352Z"
											fill="#00B6C9" />
										<path
											d="M10.9833 2.63761L4.63711 8.98381L2.68443 7.03113L9.03063 0.684932L10.9833 2.63761Z"
											fill="#00B6C9" />
									</svg>

								</span>
							</label>
							<div class="cart-previwe__body"><a class="cart-previwe__img" href="#"> <img
										src="img/new-pages-img/product-card/product-card-4.jpg" alt=""></a>
								<div class="cart-previwe__inner cart-previwe__inner-idea"> <a class="idea-card__name"
										href="#">Прямой
										диван Lily</a>
									<div class="price idea-price">
										<div class="price__number idea-price__label">
											<span class="price__label "></span>1300 <span
												class="price__number-currency idea-price__number-currency">BYN</span>
										</div>
										<div class="price__old idea-price__old">1300 <span
												class="price__old-currency idea-price__old-currency">BYN</span></div>
									</div>
									<div class="cart-previwe__row idea-cart-previwe__row">
										<div class="cart-previwe__size idea-cart-previwe__size">140х220</div>
										<div class="installments installments-sm">Рассрочка от <a
												class="installments__link" href="#">1200 BYN</a></div>
									</div>
									<div class="card__availability">
										<div class="availability-ico availability-ico--green"></div>В наличии: 12
									</div>
								</div>
							</div>
							<div class="idea-box-btn">
								<a class="btn btn-primary idea-btn" href="#">Купить </a>
								<a href="#" class="idea-link">
									Посмотреть
								</a>
							</div>
						</div>
					</div>
					<div class="idea-body">
						<div class="idea-body-title">
							Итого за комплект:
						</div>

						<div class="price idea-body-price">
							<div class="price__number idea-body-number"><span class="price__label"></span>1300 <span
									class="price__number-currency idea-body-currency ">BYN</span></div>
							<div class="price__old idea-body-old">1400 <span class="price__old-currency">BYN</span>
							</div>
						</div>

						<a class="btn btn-primary idea-body-btn" href="#">Купить комплект 3 из 3 </a>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>
